@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #faf9f5;
}

nav {
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 80px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
}

nav ul li a {
  font-family: DM Serif Display, serif;
  color: gray;
  text-decoration: none;
  font-size: 18px;
  margin: 0 24px;
  padding: 5px 10px;
  border-radius: 8px;
}

nav ul li a:hover {
  background-color: rgb(228, 228, 228);
  transition: ease-in-out 0.2s;
}

.logo {
  font-family: DM Serif Display, serif;
  margin-left: 10px;
  color: black;
  line-height: 80px;
  font-size: 26px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.block {
  width: 100%;
  display: flex;
  margin: 5% 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;    
}

.content {
  display: flex;
  width: 80%; 
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  object-fit: cover;
}

.descriptions {
  padding: 0% 2%;
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.descriptions p {
  width: 80%;
  font-size: 18px;
  margin: 0;
  padding: 0px;
}

.descriptions ul li {
  width: 80%;
  font-size: 18px;
  margin: 0;
  padding: 0px;
}

.skills-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.skill-block {
  width: 20%;
  margin: 0 40px;
  padding: 20px 30px;
  border: 2px solid black;
  border-radius: 16px;
}

.skill-block p {
  font-family: DM Serif Display, serif;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  .logo {
    text-align: center;
  }

  nav ul {
    justify-content: center;
  }

  .content {
    flex-direction: column;
    height: auto;
  }

  .content .descriptions{
    margin-top: 30px;
  }

  .skills-section{
    flex-direction: column;
  }
}

