@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #faf9f5;
}

nav {
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 80px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
}

nav ul li a {
  font-family: DM Serif Display, serif;
  color: gray;
  text-decoration: none;
  font-size: 18px;
  margin: 0 24px;
  padding: 5px 10px;
  border-radius: 8px;
}

nav ul li a:hover {
  background-color: rgb(228, 228, 228);
  transition: ease-in-out 0.2s;
}

.logo {
  font-family: DM Serif Display, serif;
  margin-left: 10px;
  color: black;
  line-height: 80px;
  font-size: 26px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title-section h1 {
  font-family: 'DM Serif Display', serif;
  margin: 20px 0;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;   
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.avatar {
  flex: 1;
  text-align: center;
}

.avatar img {
  border-radius: 8%;
  max-width: 100%;
  height: auto;
}

.descriptions {
  flex: 1;
  padding: 20px;
}

.descriptions p {
  font-size: 18px;
  line-height: 1.6;
}

.descriptions ul {
  list-style: none;
  padding: 0;
}

.descriptions ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

.skills-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.skill-block {
  padding: 20px;
  border: 2px solid black;
  border-radius: 16px;
  text-align: center;
  width: 150px;
}

.skill-block p {
  font-family: 'DM Serif Display', serif;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  .content {
    flex-direction: column;
  }

  .skills-section{
    flex-direction: column;
  }
}

